body {
    background-color: bisque;
}
div {
    background-color: yellow;
    width: 700px;
}
h1 {
    background-color: blue;
    width: 350px;
}
h2 {
    background-color: red;
    width: 215px;
}


