body {
    background-color: bisque;
}
div {
    background-color: yellow;
    width: 650px;
}
h1 {
    background-color: blue;
    width: 400px;
}
h2 {
    background-color: red;
    width: 200px;
}