.a {
    background-color: red;
}
.b {
    background-color: rgb(0, 255, 0);
}
.c {
    background-color: blue;
}
.d {
    background-color: yellow;
}
.e {
    background-color: magenta;
}
.f {
    background-color: aqua;
}