.a {
    background-color: red;
}
.b {
    background-color: green;
}
.c {
    background-color: blue;
}
.d {
    background-color: cyan;
}
.e {
    background-color: magenta;
}
.f {
    background-color: yellow;
}